export ACCESS_TOKEN_SECRET=oneuthateuhathoeuthuaonehntoauhaeuheae
export REFRESH_TOKEN_SECRET=zzaneuthaonueheaouhnaoehunstasenuthanu

export FACEBOOK_CLIENT_SECRET=ri84390230-320-32-=3298032u3247y3278
export FACEBOOK_CLIENT_ID=2389287325328932
export TWITTER_API_KEY=ntauhnaehuntaeeuntehnatu
export TWITTER_SECRET_KEY=taeounaheunaoehutaheueteee
export TWITTER_BEARER_TOKEN=naoeuhetuhnau

export TWITTER_BEARER_TOKEN=aoidjwqdjqiowdjwqadjoqwidoqw

export DATABASE_URL=postgres://postgres:postgres@localhost/reall_repo